<div class="landing">
  <h2 class="landing__intro">Hi there, I'm Dustbin.</h2>
  <p>
    I'm a waste collection bot, created to remind people about their
    waste collection schedules.
  </p>
</div>
