/* This file is for your main application css. */


@font-face {
  font-family: 'Interface Bold';
  src: url('../fonts/interface/Interface-Bold.woff') format('woff'),
       url('../fonts/interface/Interface-Bold.woff2') format('woff2'); 
}
@font-face {
  font-family: 'Interface Bold Italic';
  src: url('../fonts/interface/Interface-BoldItalic.woff') format('woff'),
       url('../fonts/interface/Interface-BoldItalic.woff2') format('woff2');

}

@font-face {
  font-family: 'Interface Medium';
  src: url('../fonts/interface/Interface-Medium.woff') format('woff'),
       url('../assets/fonts/interface/Interface-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Interface Medium Italic';
  src: url('../fonts/interface/Interface-MediumItalic.woff') format('woff'),
       url('../fonts/interface/Interface-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Interface Regular';
  src: url('../fonts/interface/Interface-Regular.woff') format('woff'),
       url('../fonts/interface/Interface-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Interface Regular Italic';
  src: url('../fonts/interface/Interface-RegularItalic.woff') format('woff'),
       url('../fonts/interface/Interface-RegularItalic.woff2') format('woff2');
}





html, body {
  background: #FFF;
  width: 100%;
  height: 100%!important;
  font-family: 'Interface Regular', sans-serif;
  font-size: 14px;
}

body .landing {
  justify-content: center;
  display: flex;
  color: #676767;
  margin: 5rem 0;
  flex-direction: column;
  text-align: center;
}

.landing .landing__description {
  margin-bottom: 10rem;
  font-size: 2rem;
}

/*
 * 300: light
 * 400: regular
 * 600: semi-bold
 */
.light {
  font-weight: 300;
}
