/* This file is for your main application css. */
html, body {
  background: #FFF;
  width: 100%;
  height: 100%!important;
  font-family: 'Work Sans', sans-serif;
}

body .landing {
  justify-content: center;
  display: flex;
  color: #676767;
  margin: 5rem 0;
  flex-direction: column;
  text-align: center;
}

.landing .landing__description {
  margin-bottom: 10rem;
  font-size: 2rem;
}

/*
 * 300: light
 * 400: regular
 * 600: semi-bold
 */
.light {
  font-weight: 300;
}
